
circle {
  fill: none;
  stroke: none;
}

circle.leaf {
  fill: rgba(31, 119, 180, 0.7);
  stroke: rgb(31, 119, 180);
  stroke-width: 2px;
  fill-opacity: 1;
}


.c3-legend-item{
  font-size: 20px;
}

/* SVG styling */
#roundTreesvg {
	width: 700px;
	height: 700px;
	font-family: helvetica, sans-serif;
}

path, line {
	fill: rgba(31, 119, 180, 0.7); /*#225D23;*/
	stroke: #eee;
	stroke-width: 0.5px;
	cursor: pointer;
}
