

#chart {
  height: 750px;
  margin-left: 60px;
}

#roundTreesvg text {
	/*fill: white;*/
	font-size: 11px;
	text-anchor: middle;
	/*font-weight: 800;*/
	cursor: pointer;
}

#round-labels text {
	font-size: 20px;
	fill: #1a97ad /*#597459;*/
}

#result {
  font-size: 18px;
  font-weight: 600;
}

#matchDataresult {
  font-size: 18px;
  font-weight: 600;
}

#title {
  position: absolute;
  top: 10px;
}
#title .large {
  width: 150px;
}